In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [12]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [8]:
len(data)

1890

# Предобработка датасета

In [77]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [805]:
answer_ls.clear()
answer_ls.append(4)

In [777]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
max_budget = data.budget.max()
data[data.budget == max_budget]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,month,profit,original_title_words
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,12,-413912431,3

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [807]:
answer_ls.append(2)

In [778]:
max_runtime = data.runtime.max()
data[data.runtime == max_runtime]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,month,profit,original_title_words
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,2,-43076064,3

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [808]:
answer_ls.append(3)

In [779]:
data = pd.read_csv('data.csv')
min_runtime = data.runtime.min()
data[data.runtime == min_runtime]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [809]:
answer_ls.append(2)

In [780]:
data = pd.read_csv('data.csv')
data.runtime.mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [810]:
answer_ls.append(1)

In [781]:
data = pd.read_csv('data.csv')
data.runtime.median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [811]:
answer_ls.append(5)

In [783]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
max_profit = data.profit.max()
data[data.profit == max_profit]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [812]:
answer_ls.append(2)

In [784]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
max_profit = data.profit.min()
data[data.profit == min_profit]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [813]:
answer_ls.append(1)

In [785]:
len(data[data.revenue>data.budget])

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [814]:
answer_ls.append(4)

In [786]:
data = pd.read_csv('data.csv')
max_revenue = data[data.release_year==2008].revenue.max()
data[data.revenue==max_revenue]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [815]:
answer_ls.append(5)

In [787]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
min_profit = data[(data.release_year>2011)&(data.release_year<2015)].profit.min()
data[data.profit==min_profit]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [816]:
answer_ls.append(3)

In [788]:
frame = pd.concat([data['imdb_id'],
                   data['genres'].str.split('|', expand=True)],
                   axis=1)
frame = frame.melt(id_vars=['imdb_id'])
frame['value'].value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
Name: value, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [817]:
answer_ls.append(1)

In [789]:
data0 = pd.read_csv('data.csv')
data=data0[data0.revenue>data0.budget]
frame = pd.concat([data['imdb_id'],
                   data['genres'].str.split('|', expand=True)],
                   axis=1)
frame = frame.melt(id_vars=['imdb_id'])
frame['value'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: value, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [818]:
answer_ls.append(3)

In [790]:
data = pd.read_csv('data.csv')
data.director.value_counts()

Steven Soderbergh               13
Clint Eastwood                  12
Ridley Scott                    12
Shawn Levy                      10
Steven Spielberg                10
                                ..
Josh Schwartz                    1
James Gray                       1
Steve Hickner|Simon J. Smith     1
Tim Johnson                      1
Chris Rock                       1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [819]:
answer_ls.append(4)

In [791]:
data = pd.read_csv('data.csv')
data[data.revenue>data.budget].director.value_counts()

Ridley Scott         12
Clint Eastwood       10
Steven Soderbergh    10
Steven Spielberg     10
Shawn Levy            9
                     ..
Josh Boone            1
Nick Hamm             1
Ted Demme             1
Lawrence Guterman     1
Chris Rock            1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [820]:
answer_ls.append(5)

In [792]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [821]:
answer_ls.append(1)

In [799]:
print("1. Emma Watson        ",data[data.cast.str.contains("Emma Watson")]['profit'].sum())
print("2. Johnny Depp        ",data[data.cast.str.contains("Johnny Depp")]['profit'].sum())
print("3. Michelle Rodriguez ",data[data.cast.str.contains("Michelle Rodriguez")]['profit'].sum())
print("4. Orlando Bloom      ",data[data.cast.str.contains("Orlando Bloom")]['profit'].sum())
print("5. Rupert Grint       ",data[data.cast.str.contains("Rupert Grint")]['profit'].sum())

1. Emma Watson         6666245597
2. Johnny Depp         4776417000
3. Michelle Rodriguez  4608031235
4. Orlando Bloom       5148578162
5. Rupert Grint        6408638290

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [822]:
answer_ls.append(3)

In [800]:
df = data[data['release_year'] == 2012]
print("1. Nicolas Cage     ",df[df.cast.str.contains("Nicolas Cage")]['profit'].sum())
print("2. Danny Huston     ",df[df.cast.str.contains("Danny Huston")]['profit'].sum())
print("3. Kirsten Dunst    ",df[df.cast.str.contains("Kirsten Dunst")]['profit'].sum())
print("4. Jim Sturgess     ",df[df.cast.str.contains("Jim Sturgess")]['profit'].sum())
print("5. Sami Gayle       ",df[df.cast.str.contains("Sami Gayle")]['profit'].sum())

1. Nicolas Cage      -32893443
2. Danny Huston      -32893443
3. Kirsten Dunst     -68109207
4. Jim Sturgess      -23410657
5. Sami Gayle        -32893443

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [823]:
answer_ls.append(3)

In [344]:
data = pd.read_csv('data.csv')

data2=data[data.budget > data.budget.mean()]
df2 = pd.concat(pd.DataFrame({
         "cast": actor,
          "imdb_id": row["imdb_id"],
          }, index=[ind])
             for ind, row in data2.iterrows()
                  for actor in row["cast"].split("|"))
df2['cast'].value_counts().sort_values(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Tsai Chin             1
Tom Felton            1
Hayden Panettiere     1
Tracey Ullman         1
Josh Helman           1
Name: cast, Length: 1508, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [824]:
answer_ls.append(2)

In [455]:
data0 = pd.read_csv('data.csv')

data=data0[data0.cast.str.match("Nicolas Cage", na=False)]
frame = pd.concat([data['imdb_id'],
                   data['genres'].str.split('|', expand=True)],
                   axis=1)
frame = frame.melt(id_vars=['imdb_id'])
frame['value'].value_counts()

Action             16
Thriller           15
Drama              12
Crime               9
Fantasy             7
Adventure           6
Comedy              5
Science Fiction     4
Mystery             3
Family              2
Animation           2
History             2
Romance             1
War                 1
Horror              1
Name: value, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [825]:
answer_ls.append(1)

In [348]:
data = pd.read_csv('data.csv')

data2=data
df2 = pd.concat(pd.DataFrame({
         "production_companies": production_companies,
          "imdb_id": row["imdb_id"],
          }, index=[ind])
             for ind, row in data2.iterrows()
                  for production_companies in row["production_companies"].split("|"))
df2['production_companies'].value_counts().sort_values(ascending=False)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Aura Film Partnership                       1
Gravier Productions                         1
Polish Film Institute                       1
Di Bonaventura Picture                      1
Lipsync Productions                         1
Name: production_companies, Length: 1772, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [826]:
answer_ls.append(4)

In [349]:
data = pd.read_csv('data.csv')

data2=data[data.release_year==2015]
df2 = pd.concat(pd.DataFrame({
         "production_companies": production_companies,
          "imdb_id": row["imdb_id"],
          }, index=[ind])
             for ind, row in data2.iterrows()
                  for production_companies in row["production_companies"].split("|"))
df2['production_companies'].value_counts().sort_values(ascending=False)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Number 9 Films                             1
Pretty Pictures                            1
Black Label Media                          1
Pacific Standard                           1
Nickelodeon Movies                         1
Name: production_companies, Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [827]:
answer_ls.append(2)

In [467]:
data0 = pd.read_csv('data.csv')

data=data0[data0.genres.str.match("Comedy", na=False)]
df2 = pd.concat(pd.DataFrame({
         "production_companies": production_companies,
          "revenue": row["revenue"],
          }, index=[ind])
             for ind, row in data.iterrows()
                  for production_companies in row["production_companies"].split("|"))
df2.groupby(['production_companies'])['revenue'].sum().sort_values(ascending=False)

production_companies
Universal Pictures     7048151527
Warner Bros.           3632676047
Columbia Pictures      3549266540
New Line Cinema        3182547380
Paramount Pictures     3037015448
                          ...
Birdsong Pictures         2614773
IM Global                 2614773
Freestyle Releasing       2336172
Isle of Man Film          2336172
CinemaNX                  2336172
Name: revenue, Length: 491, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [828]:
answer_ls.append(3)

In [354]:
data = pd.read_csv('data.csv')

data2=data[data.release_year==2012]
df2 = pd.concat(pd.DataFrame({
         "production_companies": production_companies,
          "revenue": row["revenue"],
          }, index=[ind])
             for ind, row in data2.iterrows()
                  for production_companies in row["production_companies"].split("|"))
df2.groupby(['production_companies'])['revenue'].sum().sort_values(ascending=False)

production_companies
Columbia Pictures         3468406608
Universal Pictures        2901011579
Warner Bros.              1869520056
Relativity Media          1701593938
Marvel Studios            1519557910
                             ...
Paradox Entertainment        4636169
Industry Entertainment       4636169
LD Entertainment             3428048
Liddell Entertainment        3428048
Wonderful Films PLC          3428048
Name: revenue, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [829]:
answer_ls.append(1)

In [365]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
min_profit=data[data.production_companies.str.match("Paramount Pictures", na=False)].profit.min()
rows=data[data.production_companies.str.match("Paramount Pictures", na=False)]
#min_profitt = data.loc.profit.min()
rows.loc[rows['profit'] == min_profit]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [830]:
answer_ls.append(5)

In [382]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [831]:
answer_ls.append(1)

In [802]:
data = pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
data.query("production_companies.str.contains('Warner Bros') ", engine='python').groupby(['release_year'])["profit"].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [832]:
answer_ls.append(4)

In [727]:
data['month'] = pd.to_datetime(data['release_date']).dt.month  
data.query("month in [1,6,12,9,5]").groupby(['month'])['month'].count().sort_values(ascending=False)

month
9     227
12    191
6     147
5     140
1     110
Name: month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [833]:
answer_ls.append(2)

In [741]:
len(data.query("month in [6,7,8]"))

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [834]:
answer_ls.append(5)

In [772]:
data['month'] = pd.to_datetime(data['release_date']).dt.month  
df = data.query("month in [12,1,2]")   
print("1. Steven Soderbergh   ", len(df[df.director.str.contains("Steven Soderbergh")]))
print("2. Christopher Nolan   ", len(df[df.director.str.contains("Christopher Nolan")]))
print("3. Clint Eastwood      ", len(df[df.director.str.contains("Clint Eastwood")]))
print("4. Ridley Scott        ", len(df[df.director.str.contains("Ridley Scott")]))
print("5. Peter Jackson       ", len(df[df.director.str.contains("Peter Jackson")]))

1. Steven Soderbergh    13
2. Christopher Nolan    0
3. Clint Eastwood       6
4. Ridley Scott         3
5. Peter Jackson        7

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [835]:
answer_ls.append(2)

In [742]:
data['profit']=data['revenue']-data['budget']
data.query("month in [1,6,12,9,5]").groupby(['month'])['profit'].sum().sort_values(ascending=False)

month
6     27551262500
12    26563071474
5     25039516141
9     10878921041
1      5396885454
Name: profit, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [836]:
answer_ls.append(5)

In [714]:
data['original_title_len'] = data.original_title.str.len()
print("1. Universal Pictures (Universal) ",data[data.production_companies.str.contains("Universal Pictures") | data.production_companies.str.contains("Universal Studios")]['original_title_len'].mean())
print("2. Warner Bros                    ",data[data.production_companies.str.contains("Warner Bros")]['original_title_len'].mean())
print("3. Jim Henson Company, The        ",data[data.production_companies.str.contains("Jim Henson Company, The")]['original_title_len'].mean())
print("4. Paramount Pictures             ",data[data.production_companies.str.contains("Paramount Pictures")]['original_title_len'].mean())
print("5. Four By Two Productions        ",data[data.production_companies.str.contains("Four By Two Productions")]['original_title_len'].mean())
answer_ls.append(5)

1. Universal Pictures (Universal)  14.716666666666667
2. Warner Bros                     15.251366120218579
3. Jim Henson Company, The         59.0
4. Paramount Pictures              17.0327868852459
5. Four By Two Productions         83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [837]:
answer_ls.append(5)

In [758]:
data['original_title_words'] = data.original_title.str.split().apply(len)
print(data[data.production_companies.str.contains("Universal Pictures") | data.production_companies.str.contains("Universal Studios")]['original_title_words'].mean())
print(data[data.production_companies.str.contains("Warner Bros")]['original_title_words'].mean())
print(data[data.production_companies.str.contains("Jim Henson Company, The")]['original_title_words'].mean())
print(data[data.production_companies.str.contains("Paramount Pictures")]['original_title_words'].mean())
print(data[data.production_companies.str.contains("Four By Two Productions")]['original_title_words'].mean())

2.6166666666666667
2.73224043715847
10.0
2.8688524590163933
12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [838]:
answer_ls.append(3)

In [720]:
unique_words = set()
def get_unique_words(value):
    for word in value.lower().split():
        unique_words.add(word)
    return ""
data['temp'] = data["original_title"].apply(get_unique_words)
len(unique_words)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [839]:
answer_ls.append(1)

In [762]:
df = data.copy()

df.sort_values(by=['vote_average'], inplace=True, ascending=False)
top1percent = round(len(df)/ 100)
df = df[:top1percent]
#display(df)
print(len(df.query('original_title in ["Inside Out","Gone Girl", "12 Years a Slave"]')))
print(len(df.query('original_title in ["BloodRayne","The Adventures of Rocky & Bullwinkle"]')))
print(len(df.query('original_title in ["The Lord of the Rings: The Return of the King"]')))
print(len(df.query('original_title in ["300", "Lucky Number Slevin"]')))

3
0
1
0

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [840]:
answer_ls.append(5)

In [768]:
print(len(data[data.cast.str.contains("Johnny Depp") & data.cast.str.contains("Helena Bonham Carter")]))
print(len(data[data.cast.str.contains("Hugh Jackman") & data.cast.str.contains("Ian McKellen")]))
print(len(data[data.cast.str.contains("Vin Diesel") & data.cast.str.contains("Paul Walker")]))
print(len(data[data.cast.str.contains("Adam Sandler") & data.cast.str.contains("Kevin James")]))
print(len(data[data.cast.str.contains("Daniel Radcliffe") & data.cast.str.contains("Rupert Grint")]))

6
5
5
5
8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [841]:
answer_ls.append(4)

In [776]:
#У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
data['profit']=data['revenue']-data['budget']
df1 = data.query("profit>0")   
print("1. Quentin Tarantino   ", len(df1[df1.director.str.contains("Quentin Tarantino")])/len(data[data.director.str.contains("Quentin Tarantino")]))
print("2. Steven Soderbergh   ", len(df1[df1.director.str.contains("Steven Soderbergh")])/len(data[data.director.str.contains("Steven Soderbergh")]))
print("3. Robert Rodriguez   ", len(df1[df1.director.str.contains("Robert Rodriguez")])/len(data[data.director.str.contains("Robert Rodriguez")]))
print("4. Christopher Nolan   ", len(df1[df1.director.str.contains("Christopher Nolan")])/len(data[data.director.str.contains("Christopher Nolan")]))
print("5. Clint Eastwood   ", len(df1[df1.director.str.contains("Clint Eastwood")])/len(data[data.director.str.contains("Clint Eastwood")]))

1. Quentin Tarantino    0.8571428571428571
2. Steven Soderbergh    0.7692307692307693
3. Robert Rodriguez    0.7272727272727273
4. Christopher Nolan    1.0
5. Clint Eastwood    0.8333333333333334

# Submission

In [843]:
len(answer_ls)

36

In [842]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4